form{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;

    border-radius: 20px;
   padding: 30px;
    border: 1px solid white;
    border-top: 0px;
    background-color: rgba(209,214,220,255);
   
}

.phone{
    display: flex;
}
.box{
 
    display: flex;
}